@model List<MotorLine.Models.Ad>

<a href="/Ad/Create" class="btn btn-outline-primary">Create</a>


<div class="sub-page">
    <div class="sub-page-left">
        <h2 class="p4">All Ads</h2>
        @if (!Model.Any())
        {
            <h2>There is no Ads</h2>
        }
        else{
        @foreach (var item in @Model)
        {
            <div class="box-6 top-2">
                <img src="@item.Photo1" alt="Basic car image" class="img-indent-2">
                <div class="extra-wrap">
                    <p class="text-2">@item.Title</p>
                    <a href="https://www.free-css.com/free-css-templates" class="link">View All Details</a>
                    <p class="upper">@item.Description</p>
                </div>
            </div>
        }
        }

    </div>

    <div class="sub-page-right">
        <div class="shadow box-7 bot-2">
            <h2 class="p2">Maintenance</h2>
            <p class="text-3 p2">It’S IMPORTANT</p>
            <p class="upper">Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
            <img src="images/page3-img5.jpg" alt="website template image">
            <p class="upper">Vestibulum ante ipsum primis in faucibus orci luctus:</p>
            <ul class="list-1">
                <li><a href="https://www.free-css.com/free-css-templates">Oil Change</a></li>
                <li><a href="https://www.free-css.com/free-css-templates">Maintenance Tune-Up</a></li>
                <li><a href="https://www.free-css.com/free-css-templates">Transmission Service</a></li>
                <li><a href="https://www.free-css.com/free-css-templates">A/C Service</a></li>
                <li><a href="https://www.free-css.com/free-css-templates">Radiator Service</a></li>
            </ul>
        </div>
        <h2 class="p2">Guarantee</h2>
        <p class="text-3 upper p2">Aenean nec eros</p>
        <p class="upper">Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis.</p>
        <a href="https://www.free-css.com/free-css-templates" class="button-2 top-3">Read More</a>
    </div>
</div>